@model CSCI467PlaceOrderMVC.Models.InfoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, th, td {
        border: solid black 1px;
    }

    label {
        display: inline-block;
        width: 100px;
    }
</style>

<h1>Your Order</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    @foreach (CSCI467PlaceOrderMVC.Models.OrderModel order in ViewBag.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.Part.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Part.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Part.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Quantity)
            </td>
        </tr>
    }
</table>

<div>
    @{ 
        double subTotal = Convert.ToDouble(Model.SubTotal);
        double shipping = subTotal * (ViewBag.TaxInfo[Model.State].StateRate / 100);
        double tax = shipping;
     }
    <h2>Subtotal:</h2>
    <h3>
       @Html.DisplayFor(m => Model.SubTotal)
    </h3>
    <h2>Shipping:</h2>
    <h3>@shipping</h3>
    <h2>Tax:</h2>
    <h3>@tax</h3>
    <h2>Total:</h2>
    <h3>
        @(subTotal + shipping + tax )
    </h3>
</div>

<h2>Credit Card Information</h2>
<form action="/Order/ProcessCreditCard" method="post">
    <label>Credit Card Holder Name: </label>
    <input type="text" id="ccName" name="ccName"/>
    <br />

    <label>Credit Card Number: </label>
    <input type="number" id="ccNumber" name="ccNumber"/>
    <br />

    <label>Expiration Date: </label>
    <input type="month" id="expDate" name="expDate"/>
    <br />

    <input type="hidden" value="@(subTotal + tax + shipping)" name="amount"  id="amount" />

    <input type="submit" />
</form>