@model IList<CSCI467PlaceOrderMVC.Models.OrderModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Order Items";
}
<style>
    table, th, td {
        border: solid black 1px;
    }
</style>
<h1>Select Items</h1>

@using (Html.BeginForm("EnterInfo", "Order", FormMethod.Post))
{
    <div style="height: 600px; overflow: auto;">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(order => order[i].Part.ID)
                        @Html.DisplayFor(order => order[i].Part.ID)
                    </td>
                    <td>
                        @Html.HiddenFor(order => order[i].Part.Name)
                        @Html.DisplayFor(order => order[i].Part.Name)
                    </td>
                    <td>
                        @Html.HiddenFor(order => order[i].Part.Price)
                        @Html.DisplayFor(order => order[i].Part.Price)
                    </td>
                    <td>
                        @Html.EditorFor(order => order[i].Quantity)
                    </td>
                </tr>
            }
        </table>
        
    </div>
    <input type="submit" />
}

<script>
        $('input[type="checkbox"]').on('click', function () {
            var checked = $(this).is(":checked");

            $(this).parent().next().next().next().next().find("input[type='text']").attr("disabled", checked);
        })

</script>